<div id="post">
  <h3><span class="red">{{question-popularity question}} Q: </span>{{#link-to 'question' question.id}}{{question.query}}{{/link-to}}</h3>
	<p>Asked By: {{question.author}}</p>
	<p>{{question-total question}} Answers</p>
</div>
