body {
  font-family: 'Roboto Condensed', sans-serif;
	background-color: #242424;
}

.about {
  font-size: 20px;
  color: #e9edf0;
  text-align: center;
}

.form-group{
  color: #757575;
}

label {
  display:block;
}

textarea {
  display:block;
}

.white {
	color: #e9edf0;
}

.navbar {
	border-color: #bf384f;
}

.red {
  color: #cc0000;
}

#post {
  background-color: #e9edf0;
  border-radius: 20px;
  padding: 15px;
  margin: 5px;
  max-width: 500px;
}

#postanswer {
  background-color: #EBCED1;
  border-radius: 20px;
  padding: 15px;
  margin: 5px;
  max-width: 500px;
}