body {
  font-family: 'Roboto Condensed', sans-serif;
	background-color: #242424;
}

.jumbotron {
  font-family: 'Bangers', cursive;
  font-size: 20px;
  color: #ededed;
  background-image: url("http://www.nova.org.au/sites/default/files/article-banner-image/2-mars-banner.jpg");
  background-color: black;
}

.large {
  font-size: 20px;
}

.white {
	color: #e9edf0;
}

.navbar {
	border-color: #bf384f;
}

.red {
  color: #cc0000;
}