<div class="about">
	Based in Portland's vibrant tech scene, Michael Schennum is one of the premium publishers on the web. We have a passion for building fun and useful content sites that entertain and inform millions of people all over the world, particularly in verticals such as general reference and information, shopping and entertainment.
</div>
