<div class="white">
	<h3>Welcome Admin!</h3>
</div>
	<hr>
	<ul>
	{{#each model.questions as |question|}}
	  <div class="white">
	    <li><span class="large">{{question.query}}</span></li>
	  </div>
	  {{delete-question question = question destroyQuestion="destroyQuestion"}}
	  {{delete-answer question=question destroyAnswer="destroyAnswer"}}
	{{/each}}
	</ul>
